/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #landing {
    position: relative;
    z-index: 1;
    padding-top: 9.5em;
    font-size: 14px;
  }
  #landing:before {
    content: '';
    position: absolute;
    display: block;
    height: 53em;
    width: 100%;
    background: #ECE5DF;
    opacity: 1;
    bottom: 5.5em;
    left: 0;
    z-index: -1;
  }
  #landing h1 {
    font-size: min(10vw, 3.6em);
    margin-bottom: 1.28888889em;
  }
  #landing h2 {
    font-size: 1em;
    line-height: 1.52em;
    letter-spacing: .05em;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 4.33333333em;
    width: 65%;
    max-width: 28em;
  }
  #landing .landing-image {
    display: none;
  }
  #landing picture {
    font-size: 1vw;
    position: absolute;
    display: block;
    width: 30em;
    height: 89.85em;
    bottom: -3.5em;
    right: 0em;
    z-index: -1;
  }
  #landing picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 6.15em 0 11.45em 0;
    z-index: 1;
    overflow: hidden;
    background: url("/images/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  #hero .business-casual {
    display: block;
    width: 17.5em;
    position: absolute;
    right: 0;
    top: -3.5em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 15em;
    padding-bottom: 14em;
    background-attachment: fixed;
  }
  #hero .business-casual {
    right: 2.5em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #services {
    padding-top: 0;
    margin-top: -6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    z-index: 100;
    position: relative;
  }
  #services .service {
    background: #0e817c;
    padding: 2.1em;
    width: 90%;
    margin: auto;
  }
  #services .service:nth-of-type(2) {
    border-bottom: 0.05em solid rgba(73, 181, 176, 0.5);
  }
  #services .service:nth-of-type(2) {
    background: #10625e;
    width: 100%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  #services .service:nth-of-type(2) .button-solid {
    color: #10625e;
  }
  #services .service:nth-of-type(2) .button-solid:before {
    background: var(--primary);
  }
  #services .service:nth-of-type(2) .button-solid:hover {
    color: #fff;
  }
  #services .service h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.16666667;
    margin-bottom: 0.625em;
    text-align: left;
    font-weight: 900;
  }
  #services .service h2 span {
    display: block;
    color: #fff;
  }
  #services .service p {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.66666667em;
    opacity: 1;
  }
  #services .service .button-solid {
    background: #fff;
    color: #10625e;
  }
  #services .service .button-solid:hover {
    color: #fff;
  }
}
/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {
  #services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(1) {
    border-right: 0.05em solid rgba(255, 255, 255, 0.05);
  }
  #services .service:nth-of-type(1),
  #services .service:nth-of-type(3) {
    width: 50%;
    border-radius: 0;
  }
  #services .service:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #services .service:nth-of-type(2) h2,
  #services .service:nth-of-type(2) p {
    text-align: center;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(2) .button-solid {
    margin: auto;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 791px) {
  #services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    margin-top: -6.5em;
    position: relative;
    z-index: 100;
    padding: 0;
  }
  #services .service {
    margin: 0;
    width: 18.6em;
    height: auto;
    border-radius: 0.25em 0.25em 0 0;
  }
  #services .service:nth-of-type(2) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    width: 20em;
    height: 17.25em;
    border: none;
  }
  #services .service:last-of-type {
    border-radius: 0.25em 0.25em 0 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services .service:nth-of-type(2) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           section          -->
<--- -------------------------- -*/
/* Mobile */
/* Tablet */
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           section          -->
<--- -------------------------- -*/
/* Mobile */
/* Tablet */
/* Small Desktop */
/* Large Desktop */
